#headertext {
	color: #FC4A1A;
	font-family: Courier New, monospace;
	font-weight: bold;
}

.linktext {
	color: #FC4A1A;
	font-family: Courier New, monospace;
	font-weight: bold;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

li {
	text-align: center;
	float: left;
	width: 33.33%;
	line-height: 4em;
	font-size: 25px;
}

li:hover {
	background-color: rgba(252, 74, 26, 0.5);
}

body {
	font-family: Courier New, monospace;
	font-size: 18px;
	color: rgba(255, 255, 255, 0.65);
	background-color: #233237;
	margin: 0px;
}

#main-text {
	text-align: center;
	border: 4px solid #FC4A1A;
}

#image {
	width: 256px;
	height: 256px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}