header {
	font-family: Tahoma;
	font-size: 30px;
	font-weight: 300;
	color: #fff;
	text-align: center;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
	color: #fff;
	background-image: url("images/dot-background.png");
	margin: 0px;
	font-weight: 300px;
}

#top-level {
	font-size: 20px !important;
	font-weight: 300 !important;
}

#main-list {
	border-left: 4px solid gray;
	border-right: 4px solid gray;
	margin-left: 2em;
	margin-right: 2em;
	background-color: rgba(190, 190, 190, 0.5);
}

#sub-list {
	color: rgba(255,255,255,0.65);
}